<mat-card class="headcard">
    <mat-card-content>
        <div class="head">
            <div class="headBottomContainer">
                <div class="imgContainer">
                    <img src="assets/img/avatar/avatar_man_1.svg" alt="Profile image man">
                </div>
                <div class="userDetailContainer">
                    <h2>Name</h2>
                    E-Mail <br>
                    address
                </div>
            </div>
        </div>
 </mat-card-content>
</mat-card>
<mat-card class="mt-32">
    <mat-card-content>
        
            <mat-card-title>Address</mat-card-title>
            <mat-card-content>
                Musterstr 43 <br>
                002211 Musterstadt
            </mat-card-content>
            
          
 </mat-card-content>
</mat-card>