<mat-card *ngIf="!globalVariablesService.addressdialog" class="headcard">
    <mat-card-content class="headCardContent">
        <div class="head">
            <div class="headBottomContainer">
                <div class="imgContainer">
                    <img src="assets/img/avatar/avatar_man_1.svg" alt="Profile image man">
                </div>
                <div class="userDetailContainer">
                    <h2>{{firebaseService.activeUser.firstName}} {{firebaseService.activeUser.lastName}}</h2>
                    {{firebaseService.activeUser.email}} <br>

                </div>
            </div>
            <div class="buttonContainer">
                <button mat-icon-button  [matMenuTriggerFor]="beforeHead">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #beforeHead="matMenu" xPosition="before">
                    <button mat-menu-item (click)="openNameDialog()">Bearbeiten</button>
                    <button mat-menu-item (click)="closeDialog()">Schließen</button> <!-- (click)="closeDialog()" -->
                  </mat-menu>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="!globalVariablesService.addressdialog">
    <mat-card-content class="detailCardContentContainer">
        <div class="detailCardContent">
            <div class="addressContainer">
                <mat-card-title class="addressContainerTitle">Address</mat-card-title>
                <mat-card-content>
                    {{firebaseService.activeUser.street}} <br>
                    <span>{{firebaseService.activeUser.zipCode}} {{firebaseService.activeUser.city}}</span>
                </mat-card-content>
            </div>
            <div class="buttonContainer">
                <button mat-icon-button (click)="openAdressDialog()">
                    <mat-icon>edit</mat-icon>
                </button>
                
            </div>
        </div>
    </mat-card-content>
</mat-card> <!-- *ngIf="globalVariablesService.addressdialog" -->

<!-- <app-address-diaolog *ngIf="globalVariablesService.addressdialog"></app-address-diaolog> -->