<mat-card>
    <mat-card-content>
        <div class="head">
            <div class="headBottomContainer">
                <div class="imgContainer">
                    <img src="assets/img/avatar/avatar_man_1.svg" alt="Profile image man">
                </div>
                <div class="userDetailContainer">
                    <h2>Name</h2>
                    E-Mail <br>
                    address
                </div>
            </div>
        </div>







    </mat-card-content>
</mat-card>